<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2021
  ~ @Project:NiitNews
  ~ @Author:Finger
  ~ @FileName:AndroidManifest.xml
  ~ @LastModified:2021/06/29 02:05:29
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kirito666.niitnews">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.MD.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.single.NewsDetailPage" />
        <activity
            android:name=".ui.search.SearchPage"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".ui.post_detail.PostDetailPage" />
        <activity android:name=".ui.single.OpenSourcePage" />
        <activity android:name=".ui.single.SplashPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".ui.single.AboutPage"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.main_frame.MainFrame"
            android:theme="@style/AppTheme.MD.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.single.TimeLinePage" />
        <activity android:name=".ui.single.WebPage" />

        <service
            android:name=".service.HeartBeatService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.kirshi.framework.daemon.DaemonService"
            android:process=":daemon" />
        <service
            android:name="com.kirshi.framework.daemon.JobSchedulerService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":daemon" />

        <receiver
            android:name="com.kirshi.framework.daemon.DaemonReceiver"
            android:process=":daemon">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>